.container {

    border: 5px solid orange;
    display: flex;
justify-content: center;
align-items: center;
height: 600px;}

.container > div:nth-child(1) {

background-color: green;
}   
.container > div:nth-child(2) {

    background-color: blue;
    }
    .container > div:nth-child(3) {

        background-color: green;
        }


.container>.home {
    align-self: flex-end;
    height: 100px;
    margin-right: 100px;
}

.container > .logout {
    align-self: flex-start;
}