html,
body {
    background-color: gray;
    margin: 10px;
}


.container> div {

    padding: 10px;
    font-size: 2em;
}

.container {

border: 5px solid orange;
display: flex;
height: 600px;
flex-wrap: wrap;}

.container > div:nth-child(1) {

background-color: green;
}   
.container > div:nth-child(2) {

    background-color: blue;
    }
    .container > div:nth-child(3) {

        background-color: green;
        }


.container>.home {
    height: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    order: 1;
}

.container > .logout {
    height: 300px;
    flex-grow: 200px;
    flex-shrink: 1;
    flex-basis: 0;

}
.container >.search {
    height: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    order: -1;

}